/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header-img {
  width: 100%;
}
.header-link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header,
  .header-img,
  .header-link { 
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  margin: 0;
  padding: 0px;
}
.task_item {
  list-style: none;
}
.task-item-text-input,
.task-item-checkbox-input,
.task-item-button {
  outline: none;
}
.task-item-button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.task-item-button:hover {
  color: #3a3a3a;
}
/* Heading */
.main-header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task-item-text-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task-item-text-input:focus {
  color: #333;
}

/* New Task */
/*.task-item-label {
  display: block;
  margin: 0 0 20px;
}*/
/*input#new-task {
  width: 318px;
}*/

/* Task list */
.task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-item > * {
  vertical-align: middle;
}
.task-item-checkbox-input {
  margin: 0 10px;
}
.task-item-label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}
.task-item-text-input {
  width: 226px;
  flex-grow: 1;
}
.task-item-delete-button-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.task-item-delete-button-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.task-item-label__completed {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-item-text-input__new {
  display: none;
}



.task-item-label__removed {
  text-decoration: line-through;
  color:#888;
}

.task-item-text-input__removed {
  display: none;
}

.task-item-label__new {
  display: none;
}